.active{
    background-color: #1DD100 !important;
    color: white;
}
.seat:hover{
    font-weight: bold;
}
.booked{
    background-color: blueviolet !important;
    color: white; 
    /* cursor: not-allowed; */
}
.noHover{
    pointer-events: none;
}